{% extends 'main/layout.html' %}


{% block title %}Карта наблюдения{% endblock %}

{% block content %}
    <div class="features">
        <h1>Карта наблюдения</h1>
        <p>Чтобы исправить повреждения в хранилище компонентов образа Windows нужно использовать опцию RestoreHealth команды DISM. Эта опция позволит исправить найденные в образе ошибки, автоматически скачать и заменить файлы повреждённых или отсутствующих компонентов эталонными версиями файлов из центра обновлений Windows (на компьютере должен быть доступ в Интернет)</p>
        <button class="btn btn-danger">Нажми </button>
    </div>

{% endblock %}